-- MySQL dump 10.13  Distrib 5.7.28, for Linux (x86_64)
-- Server version	5.7.28

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `ogp_addons`
--

DROP TABLE IF EXISTS `ogp_addons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_addons` (
  `addon_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(80) NOT NULL,
  `url` varchar(200) NOT NULL,
  `path` varchar(80) NOT NULL,
  `addon_type` varchar(7) NOT NULL,
  `home_cfg_id` varchar(7) NOT NULL,
  `post_script` longtext NOT NULL,
  `group_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`addon_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_addons`
--

LOCK TABLES `ogp_addons` WRITE;
/*!40000 ALTER TABLE `ogp_addons` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_addons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_adminExternalLinks`
--

DROP TABLE IF EXISTS `ogp_adminExternalLinks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_adminExternalLinks` (
  `link_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(80) NOT NULL,
  `url` varchar(200) NOT NULL,
  `user_id` varchar(7) NOT NULL,
  PRIMARY KEY (`link_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_adminExternalLinks`
--

LOCK TABLES `ogp_adminExternalLinks` WRITE;
/*!40000 ALTER TABLE `ogp_adminExternalLinks` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_adminExternalLinks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_arrange_ports`
--

DROP TABLE IF EXISTS `ogp_arrange_ports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_arrange_ports` (
  `range_id` int(11) NOT NULL AUTO_INCREMENT,
  `ip_id` int(11) NOT NULL,
  `home_cfg_id` int(11) NOT NULL,
  `start_port` smallint(11) unsigned NOT NULL,
  `end_port` smallint(11) unsigned NOT NULL,
  `port_increment` smallint(11) unsigned NOT NULL,
  PRIMARY KEY (`range_id`),
  UNIQUE KEY `ip_id` (`ip_id`,`home_cfg_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COMMENT='Remote servers and IPs';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_arrange_ports`
--

LOCK TABLES `ogp_arrange_ports` WRITE;
/*!40000 ALTER TABLE `ogp_arrange_ports` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_arrange_ports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_config_homes`
--

DROP TABLE IF EXISTS `ogp_config_homes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_config_homes` (
  `home_cfg_id` int(20) NOT NULL AUTO_INCREMENT,
  `game_key` varchar(64) NOT NULL,
  `game_name` varchar(255) NOT NULL,
  `home_cfg_file` varchar(64) DEFAULT NULL,
  PRIMARY KEY (`home_cfg_id`),
  UNIQUE KEY `game_key` (`game_key`)
) ENGINE=MyISAM AUTO_INCREMENT=246 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_config_homes`
--

LOCK TABLES `ogp_config_homes` WRITE;
/*!40000 ALTER TABLE `ogp_config_homes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_config_homes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_config_mods`
--

DROP TABLE IF EXISTS `ogp_config_mods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_config_mods` (
  `mod_cfg_id` int(50) NOT NULL AUTO_INCREMENT,
  `home_cfg_id` varchar(50) NOT NULL,
  `mod_key` varchar(100) NOT NULL COMMENT 'mod short name - used by the game server for startup commands - ex cstrike',
  `mod_name` varchar(255) NOT NULL COMMENT 'Mod value is user defined string - like Counter-Strike',
  `def_precmd` text,
  `def_postcmd` text,
  PRIMARY KEY (`mod_cfg_id`),
  UNIQUE KEY `home_cfg_id` (`home_cfg_id`,`mod_key`)
) ENGINE=MyISAM AUTO_INCREMENT=335 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_config_mods`
--

LOCK TABLES `ogp_config_mods` WRITE;
/*!40000 ALTER TABLE `ogp_config_mods` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_config_mods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_game_mods`
--

DROP TABLE IF EXISTS `ogp_game_mods`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_game_mods` (
  `mod_id` int(50) NOT NULL AUTO_INCREMENT,
  `home_id` int(255) NOT NULL,
  `mod_cfg_id` int(11) NOT NULL,
  `max_players` smallint(3) DEFAULT NULL,
  `extra_params` varchar(255) DEFAULT NULL,
  `cpu_affinity` varchar(64) DEFAULT NULL,
  `nice` smallint(3) DEFAULT '0',
  `precmd` text,
  `postcmd` text,
  PRIMARY KEY (`mod_id`),
  UNIQUE KEY `home_id` (`home_id`,`mod_cfg_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COMMENT='utf8mb4_general_ci';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_game_mods`
--

LOCK TABLES `ogp_game_mods` WRITE;
/*!40000 ALTER TABLE `ogp_game_mods` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_game_mods` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_home_ip_ports`
--

DROP TABLE IF EXISTS `ogp_home_ip_ports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_home_ip_ports` (
  `ip_id` int(11) NOT NULL,
  `port` int(11) NOT NULL,
  `home_id` int(11) NOT NULL,
  `force_mod_id` int(11) NOT NULL DEFAULT '0',
  PRIMARY KEY (`ip_id`,`port`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_home_ip_ports`
--

LOCK TABLES `ogp_home_ip_ports` WRITE;
/*!40000 ALTER TABLE `ogp_home_ip_ports` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_home_ip_ports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_logger`
--

DROP TABLE IF EXISTS `ogp_logger`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_logger` (
  `log_id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `date` varchar(20) NOT NULL,
  `user_id` int(11) NOT NULL,
  `ip` varchar(15) NOT NULL,
  `message` varchar(250) NOT NULL,
  PRIMARY KEY (`log_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_logger`
--

LOCK TABLES `ogp_logger` WRITE;
/*!40000 ALTER TABLE `ogp_logger` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_logger` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_master_server_homes`
--

DROP TABLE IF EXISTS `ogp_master_server_homes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_master_server_homes` (
  `home_id` int(11) NOT NULL,
  `home_cfg_id` int(11) NOT NULL,
  `remote_server_id` int(11) NOT NULL,
  PRIMARY KEY (`remote_server_id`,`home_cfg_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_master_server_homes`
--

LOCK TABLES `ogp_master_server_homes` WRITE;
/*!40000 ALTER TABLE `ogp_master_server_homes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_master_server_homes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_module_access_rights`
--

DROP TABLE IF EXISTS `ogp_module_access_rights`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_module_access_rights` (
  `module_id` int(11) NOT NULL COMMENT 'This references to modules.id',
  `flag` char(1) NOT NULL,
  `description` varchar(64) NOT NULL,
  UNIQUE KEY `flag` (`flag`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_module_access_rights`
--

LOCK TABLES `ogp_module_access_rights` WRITE;
/*!40000 ALTER TABLE `ogp_module_access_rights` DISABLE KEYS */;
INSERT INTO `ogp_module_access_rights` VALUES (8,'t','allow_ftp'),(9,'u','allow_updates'),(9,'p','allow_parameter_usage'),(9,'e','allow_extra_params'),(9,'c','allow_custom_fields'),(10,'f','allow_file_management');
/*!40000 ALTER TABLE `ogp_module_access_rights` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_module_menus`
--

DROP TABLE IF EXISTS `ogp_module_menus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_module_menus` (
  `module_id` int(11) NOT NULL COMMENT 'This references to modules.id',
  `subpage` varchar(64) NOT NULL DEFAULT '',
  `group` varchar(32) NOT NULL,
  `menu_name` varchar(128) NOT NULL,
  `pos` int(10) unsigned NOT NULL,
  PRIMARY KEY (`module_id`,`subpage`,`group`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_module_menus`
--

LOCK TABLES `ogp_module_menus` WRITE;
/*!40000 ALTER TABLE `ogp_module_menus` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_module_menus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_modules`
--

DROP TABLE IF EXISTS `ogp_modules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_modules` (
  `id` smallint(5) unsigned NOT NULL AUTO_INCREMENT,
  `title` varchar(100) NOT NULL DEFAULT '',
  `folder` varchar(100) NOT NULL DEFAULT '',
  `version` varchar(10) NOT NULL DEFAULT '0',
  `db_version` int(10) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `folder` (`folder`)
) ENGINE=MyISAM AUTO_INCREMENT=20 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_modules`
--

LOCK TABLES `ogp_modules` WRITE;
/*!40000 ALTER TABLE `ogp_modules` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_modules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_mysql_databases`
--

DROP TABLE IF EXISTS `ogp_mysql_databases`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_mysql_databases` (
  `db_id` int(11) NOT NULL AUTO_INCREMENT,
  `mysql_server_id` int(11) NOT NULL,
  `home_id` int(11) NOT NULL,
  `db_user` varchar(50) NOT NULL,
  `db_passwd` varchar(50) NOT NULL,
  `db_name` varchar(50) NOT NULL,
  `enabled` int(11) NOT NULL,
  PRIMARY KEY (`db_id`),
  UNIQUE KEY `mysql_server_id` (`mysql_server_id`,`db_name`),
  UNIQUE KEY `mysql_server_id_2` (`mysql_server_id`,`db_user`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_mysql_databases`
--

LOCK TABLES `ogp_mysql_databases` WRITE;
/*!40000 ALTER TABLE `ogp_mysql_databases` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_mysql_databases` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_mysql_servers`
--

DROP TABLE IF EXISTS `ogp_mysql_servers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_mysql_servers` (
  `mysql_server_id` int(11) NOT NULL AUTO_INCREMENT,
  `remote_server_id` int(11) NOT NULL,
  `mysql_name` varchar(100) NOT NULL,
  `mysql_ip` varchar(255) NOT NULL,
  `mysql_port` int(11) NOT NULL,
  `mysql_root_passwd` varchar(32) DEFAULT NULL,
  `privilegies_str` longtext,
  PRIMARY KEY (`mysql_server_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_mysql_servers`
--

LOCK TABLES `ogp_mysql_servers` WRITE;
/*!40000 ALTER TABLE `ogp_mysql_servers` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_mysql_servers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_rcon_presets`
--

DROP TABLE IF EXISTS `ogp_rcon_presets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_rcon_presets` (
  `preset_id` int(50) NOT NULL AUTO_INCREMENT,
  `name` varchar(20) NOT NULL,
  `command` varchar(100) NOT NULL,
  `home_cfg_id` int(50) NOT NULL,
  `mod_cfg_id` int(50) NOT NULL,
  PRIMARY KEY (`preset_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_rcon_presets`
--

LOCK TABLES `ogp_rcon_presets` WRITE;
/*!40000 ALTER TABLE `ogp_rcon_presets` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_rcon_presets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_remote_server_ips`
--

DROP TABLE IF EXISTS `ogp_remote_server_ips`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_remote_server_ips` (
  `ip_id` int(11) NOT NULL AUTO_INCREMENT,
  `remote_server_id` int(11) NOT NULL,
  `ip` varchar(255) NOT NULL,
  PRIMARY KEY (`ip_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_remote_server_ips`
--

LOCK TABLES `ogp_remote_server_ips` WRITE;
/*!40000 ALTER TABLE `ogp_remote_server_ips` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_remote_server_ips` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_remote_servers`
--

DROP TABLE IF EXISTS `ogp_remote_servers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_remote_servers` (
  `remote_server_id` int(11) NOT NULL AUTO_INCREMENT,
  `remote_server_name` varchar(100) NOT NULL,
  `ogp_user` varchar(100) NOT NULL,
  `agent_ip` varchar(255) NOT NULL,
  `agent_port` int(11) NOT NULL,
  `ftp_port` int(11) NOT NULL,
  `encryption_key` varchar(50) NOT NULL,
  `timeout` int(11) NOT NULL,
  `use_nat` int(11) NOT NULL,
  `ftp_ip` varchar(255) NOT NULL,
  `firewall_settings` longtext,
  `display_public_ip` varchar(255) NOT NULL,
  PRIMARY KEY (`remote_server_id`),
  UNIQUE KEY `agent_ip` (`agent_ip`,`agent_port`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1 COMMENT='Remote servers and IPs';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_remote_servers`
--

LOCK TABLES `ogp_remote_servers` WRITE;
/*!40000 ALTER TABLE `ogp_remote_servers` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_remote_servers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_server_homes`
--

DROP TABLE IF EXISTS `ogp_server_homes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_server_homes` (
  `home_id` int(50) NOT NULL AUTO_INCREMENT,
  `remote_server_id` int(11) NOT NULL,
  `user_id_main` int(11) NOT NULL,
  `home_path` varchar(100) NOT NULL,
  `home_cfg_id` int(50) NOT NULL,
  `home_name` varchar(128) NOT NULL,
  `control_password` varchar(32) DEFAULT NULL,
  `ftp_password` varchar(16) DEFAULT NULL,
  `last_param` longtext,
  `ftp_login` varchar(32) DEFAULT NULL,
  `ftp_status` int(11) NOT NULL DEFAULT '0',
  `custom_fields` longtext,
  `server_expiration_date` varchar(21) NOT NULL DEFAULT 'X',
  `home_user_order` int(11) NOT NULL DEFAULT '99999',
  PRIMARY KEY (`home_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_server_homes`
--

LOCK TABLES `ogp_server_homes` WRITE;
/*!40000 ALTER TABLE `ogp_server_homes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_server_homes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_settings`
--

DROP TABLE IF EXISTS `ogp_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_settings` (
  `setting` varchar(63) NOT NULL,
  `value` varchar(1024) NOT NULL,
  PRIMARY KEY (`setting`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_settings`
--

LOCK TABLES `ogp_settings` WRITE;
/*!40000 ALTER TABLE `ogp_settings` DISABLE KEYS */;
INSERT INTO `ogp_settings` VALUES ('title','Open Game Panel'),('slogan','The Open-Source one!'),('ogp_version','0'),('version_type','SVN'),('theme','Revolution'),('welcome_title','1'),('welcome_title_message','<h0>Bienvenue! <b style=\'font-size:12px; font-weight:normal;\'>Vous pouvez changer ce titre dans les \'<a href=\'?m=settings&p=themes\'>Param├â┬¿tres du Th├â┬¿me</a>\' sous l\'onglet \'<a href=\'?m=administration&p=main\'>Administration</a>\'.</b></h0>'),('page_auto_refresh','1');
/*!40000 ALTER TABLE `ogp_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_status_cache`
--

DROP TABLE IF EXISTS `ogp_status_cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_status_cache` (
  `date_timestamp` char(16) NOT NULL,
  `ip_id` char(3) NOT NULL,
  `port` char(6) NOT NULL,
  `server_status_cache` longtext NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_status_cache`
--

LOCK TABLES `ogp_status_cache` WRITE;
/*!40000 ALTER TABLE `ogp_status_cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_status_cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_ts3_homes`
--

DROP TABLE IF EXISTS `ogp_ts3_homes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_ts3_homes` (
  `ts3_id` int(50) NOT NULL AUTO_INCREMENT,
  `rserver_id` int(50) NOT NULL,
  `ip` varchar(20) NOT NULL,
  `pwd` varchar(40) NOT NULL,
  `vserver_id` int(50) NOT NULL,
  `user_id` int(50) NOT NULL,
  `port` int(11) DEFAULT '10011',
  PRIMARY KEY (`ts3_id`),
  UNIQUE KEY `rserver_id` (`rserver_id`,`vserver_id`,`user_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_ts3_homes`
--

LOCK TABLES `ogp_ts3_homes` WRITE;
/*!40000 ALTER TABLE `ogp_ts3_homes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_ts3_homes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_update_blacklist`
--

DROP TABLE IF EXISTS `ogp_update_blacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_update_blacklist` (
  `file_path` varchar(1000) DEFAULT NULL,
  UNIQUE KEY `file_path` (`file_path`),
  UNIQUE KEY `file_path_2` (`file_path`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_update_blacklist`
--

LOCK TABLES `ogp_update_blacklist` WRITE;
/*!40000 ALTER TABLE `ogp_update_blacklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_update_blacklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_user_group_homes`
--

DROP TABLE IF EXISTS `ogp_user_group_homes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_user_group_homes` (
  `home_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  `access_rights` varchar(63) DEFAULT NULL,
  `user_group_expiration_date` varchar(21) NOT NULL DEFAULT 'X',
  PRIMARY KEY (`home_id`,`group_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_user_group_homes`
--

LOCK TABLES `ogp_user_group_homes` WRITE;
/*!40000 ALTER TABLE `ogp_user_group_homes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_user_group_homes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_user_group_info`
--

DROP TABLE IF EXISTS `ogp_user_group_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_user_group_info` (
  `group_id` int(11) NOT NULL AUTO_INCREMENT,
  `group_name` varchar(255) DEFAULT NULL,
  `main_user_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`group_id`),
  UNIQUE KEY `group_name` (`group_name`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_user_group_info`
--

LOCK TABLES `ogp_user_group_info` WRITE;
/*!40000 ALTER TABLE `ogp_user_group_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_user_group_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_user_group_remote_servers`
--

DROP TABLE IF EXISTS `ogp_user_group_remote_servers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_user_group_remote_servers` (
  `remote_server_id` int(11) NOT NULL,
  `group_id` int(11) NOT NULL,
  `access_rights` varchar(63) DEFAULT NULL,
  PRIMARY KEY (`remote_server_id`,`group_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_user_group_remote_servers`
--

LOCK TABLES `ogp_user_group_remote_servers` WRITE;
/*!40000 ALTER TABLE `ogp_user_group_remote_servers` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_user_group_remote_servers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_user_groups`
--

DROP TABLE IF EXISTS `ogp_user_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_user_groups` (
  `user_id` int(11) NOT NULL,
  `role_id` int(11) DEFAULT NULL,
  `group_id` int(11) NOT NULL,
  PRIMARY KEY (`user_id`,`group_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_user_groups`
--

LOCK TABLES `ogp_user_groups` WRITE;
/*!40000 ALTER TABLE `ogp_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_user_homes`
--

DROP TABLE IF EXISTS `ogp_user_homes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_user_homes` (
  `home_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `access_rights` varchar(63) DEFAULT NULL,
  `user_expiration_date` varchar(21) NOT NULL DEFAULT 'X',
  PRIMARY KEY (`user_id`,`home_id`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_user_homes`
--

LOCK TABLES `ogp_user_homes` WRITE;
/*!40000 ALTER TABLE `ogp_user_homes` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_user_homes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_user_role_info`
--

DROP TABLE IF EXISTS `ogp_user_role_info`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_user_role_info` (
  `role_id` int(11) NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`role_id`),
  UNIQUE KEY `role_name` (`role_name`)
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_user_role_info`
--

LOCK TABLES `ogp_user_role_info` WRITE;
/*!40000 ALTER TABLE `ogp_user_role_info` DISABLE KEYS */;
/*!40000 ALTER TABLE `ogp_user_role_info` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_users`
--

DROP TABLE IF EXISTS `ogp_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `users_login` varchar(255) NOT NULL,
  `users_passwd` varchar(255) NOT NULL,
  `users_lang` varchar(20) NOT NULL DEFAULT 'English',
  `users_role` varchar(30) NOT NULL DEFAULT 'user',
  `users_group` varchar(100) DEFAULT NULL,
  `users_fname` varchar(255) DEFAULT NULL,
  `users_lname` varchar(255) DEFAULT NULL,
  `users_email` varchar(255) DEFAULT NULL,
  `users_phone` varchar(12) DEFAULT NULL,
  `users_city` varchar(255) DEFAULT NULL,
  `users_province` varchar(255) DEFAULT NULL,
  `users_country` varchar(255) DEFAULT NULL,
  `users_comment` text,
  `users_theme` varchar(255) DEFAULT NULL,
  `user_expires` varchar(30) NOT NULL DEFAULT 'X',
  `users_parent` int(11) DEFAULT NULL,
  `users_page_limit` int(11) DEFAULT '25',
  `user_receives_emails` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`users_login`),
  UNIQUE KEY `id` (`user_id`),
  UNIQUE KEY `email` (`users_email`)
) ENGINE=MyISAM AUTO_INCREMENT=2 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_users`
--

LOCK TABLES `ogp_users` WRITE;
/*!40000 ALTER TABLE `ogp_users` DISABLE KEYS */;
INSERT INTO `ogp_users` VALUES (1,'admin','5f4dcc3b5aa765d61d8327deb882cf99','French','admin',NULL,NULL,NULL,'admin@admin.net',NULL,NULL,NULL,NULL,NULL,NULL,'X',NULL,25,1);
/*!40000 ALTER TABLE `ogp_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_widgets`
--

DROP TABLE IF EXISTS `ogp_widgets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_widgets` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `column_id` int(11) NOT NULL,
  `sort_no` int(11) NOT NULL,
  `collapsed` tinyint(4) NOT NULL,
  `title` varchar(100) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_widgets`
--

LOCK TABLES `ogp_widgets` WRITE;
/*!40000 ALTER TABLE `ogp_widgets` DISABLE KEYS */;
INSERT INTO `ogp_widgets` VALUES (1,1,1,0,'Game Monitor'),(2,2,0,0,'Online Server'),(3,2,1,0,'Currently Online'),(4,3,0,0,'FTP'),(5,3,1,0,'Support');
/*!40000 ALTER TABLE `ogp_widgets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ogp_widgets_users`
--

DROP TABLE IF EXISTS `ogp_widgets_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ogp_widgets_users` (
  `user_id` int(11) NOT NULL,
  `widget_id` int(11) NOT NULL,
  `column_id` int(11) NOT NULL,
  `sort_no` int(11) NOT NULL,
  `collapsed` tinyint(4) NOT NULL,
  `title` varchar(100) NOT NULL
) ENGINE=MyISAM DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ogp_widgets_users`
--

LOCK TABLES `ogp_widgets_users` WRITE;
/*!40000 ALTER TABLE `ogp_widgets_users` DISABLE KEYS */;
INSERT INTO `ogp_widgets_users` VALUES (1,1,1,1,0,'Game Monitor'),(1,2,2,0,0,'Online Server'),(1,3,2,1,0,'Currently Online'),(1,4,3,0,0,'FTP'),(1,5,3,1,0,'Support');
/*!40000 ALTER TABLE `ogp_widgets_users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2019-12-03 14:57:53
